# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.suo
*.ipch
*.ilk
*.pdb
*.log
*.res
DX_RoboCooked/DX_RoboCooked/Debug/vc140.idb
DX_RoboCooked/DX_RoboCooked/Debug/DX_RoboCooked.tlog/CL.command.1.tlog
*.tlog
*.lastbuildstate
*.jpg
*.png
